<h2>Card: {{card.incomeText}}</h2>

<div class="card" style="width: 19rem;">
  <div class="card-body">
    <h3 class="card-title bold">{{card.incomeText}}</h3>
    <p class="card-text"> Перевод: {{card.outcomeText}}<br>
     Тэг: {{card.tag}}</p>
    <a href="/words" class="btn btn-primary">К списку слов</a>
  </div>
</div>


