<h1>Welcome to Translator</h1>
<h4>app to train and translate</h4>
{{!-- {{>navbar}} --}}

<div class="center">
  <div class="container">
    <div class="menu">
    <a class="btn btn-outline-dark btn-lg btn-block bigger" href="/words/new"> Переводить </a>

    <a class="btn btn-outline-dark btn-lg btn-block bigger" href="/words"> Мои слова </a>
    </div>
  </div>
</div>

{{!--
<div class="parent">
  <div class="block">
    <svg width="10em" height="10em" viewBox="0 0 16 16" class="bi bi-arrow-left-right" fill="#3d0000"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
    </svg>
  </div>
</div> --}}
